/* Custom styles for dark theme */
.app-link {
  color: white;
}
body {
  background-color: #333;
  color: #fff;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

/* Custom link color rule */
.btn-link {
  color: white;
}
.logo {
  width: 500px; /* Adjust as needed */
  height: auto; /* Keeps the aspect ratio */
}
a:hover {
  color: #ff0000; /* Change to your desired color */
}
.btn.btn-link:hover {
  color: #ff0000; /* Change to your desired color */
}
.white-logo {
  filter: invert(100%); 
  width: 300px; 
  height: auto;
}
@media screen and (max-width: 600px) {
  body {
    text-align: center;
}
  .container {
      width: 80%;
      padding: 0;
  }
  .logo {
      width: 50%;
  }
  
}
/* Add more custom styling as needed */
